{% extends 'Music/homepage.html' %}
{% load staticfiles %}
{% block head %}
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'Music/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Music/bootstrap/userhome.css' %}">
	<style>
		body{
			background:linear-gradient(#2C3E50,black);
		}
	</style>
{% endblock %}
{% block body %}
<div class="text-center">
	<h1 style="color: white;">About Us</h1>
</div>
   <div class="row" style="height: 300px;">
   		<div class="col-md-8" style="padding-top: 20px;padding-left: 100px;">
   			<h1 style="color: white; ">Anurag Tyagi</h1>
   			<h2 style="color: white;">Interests  :  Machine Learning,Web Development</h2>
   			<h3 style="color: white;">Github : <a href="https://www.github.com/anurag708/" style="text-decoration: none;">anurag708</a></h3>
   			<h3 style="color: white;">Facebook : <a href="https://www.facebook.com/anurag.7786995671" style="text-decoration: none;">Anurag Tyagi</a></h3>
   		</div>
   		<div class="col-md-4" style="padding-top: 40px;padding-left: 100px;">
   			<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t31.0-8/19402052_1205429542902477_850876615903236146_o.jpg?oh=0250d0117efe02613ac529aebf0ec16c&oe=5AA1F348" height="200px" width="200px">
   		</div>
   </div>
   <div class="row" style="height: 300px;"">
   	<div class="col-md-4" style="padding-top: 40px;padding-left: 100px;">
   			<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t31.0-8/13920238_1788615374717606_4281034143512540756_o.jpg?oh=971d8e290c279f2c87520bb0f3dbe1eb&oe=5AAB8C3E" height="200px" width="200px">
   		</div>
   		<div class="col-md-8" style="padding-top: 20px;padding-left: 100px;">
   			<h1 style="color: white; ">Bhavy Jain</h1>
   			<h2 style="color: white;">Interests  :  Machine Learning,Competitive Programming</h2>
   			<h3 style="color: white;">Github : <a href="https://github.com/anurag708/" style="text-decoration: none;">bhavy769</a></h3>
   			<h3 style="color: white;">Facebook : <a href="https://www.facebook.com/anurag.7786995671" style="text-decoration: none;">Bhavy Jain</a></h3>
   		</div>
   </div>
   <div class="row" style="height: 300px;">
   		<div class="col-md-8" style="padding-top: 20px;padding-left: 100px;">
   			<h1 style="color: white; ">Apurv Jain</h1>
   			<h2 style="color: white;">Interests  :  Information Security,Competitive Programming</h2>
   			<h3 style="color: white;">Github : <a href="https://github.com/anurag708/" style="text-decoration: none;">apurv750</a></h3>
   			<h3 style="color: white;">Facebook : <a href="https://www.facebook.com/anurag.7786995671" style="text-decoration: none;">Apurv Jain</a></h3>
   		</div>
   		<div class="col-md-4" style="padding-top: 40px;padding-left: 100px;">
   			<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t31.0-8/16422995_120917835088735_7322108908692942674_o.jpg?oh=eb5d33f3afa77039dfc349f7de3b958c&oe=5AAFD4D3" height="200px" width="200px">
   		</div>
   </div>
   <div class="row" style="height: 300px;"">
   	<div class="col-md-4" style="padding-top: 40px;padding-left: 100px;">
   			<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/16473704_946325208835524_9100118118972805298_n.jpg?oh=19e66e0a0d7b7afac262e6ea6aa68da1&oe=5A6929CE" height="200px" width="200px">
   		</div>
   		<div class="col-md-8" style="padding-top: 20px;padding-left: 100px;">
   			<h1 style="color: white; ">Aayush Jham</h1>
   			<h2 style="color: white;">Interests  :  Machine Learning,Competitive Programming</h2>
   			<h3 style="color: white;">Github : <a href="https://github.com/anurag708/" style="text-decoration: none;">jham772</a></h3>
   			<h3 style="color: white;">Facebook : <a href="https://www.facebook.com/anurag.7786995671" style="text-decoration: none;">Aayush Jham</a></h3>
   		</div>
   </div>
{% endblock %}