{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
	<div class="row">
		<div class="col-md-4" style="padding-left: 60px;padding-top: 50px">
			<img src="{{ album.album_logo }}" height="250px" width="250px">
			<h2 style="padding-left: 3px;color: white;">{{ album.album_name }}</h2><br>
			<h2 style="padding-left: 3px; color: white;">By  <small style="color: white;">{{ album.album_artist }}</small></h2>
		</div>
		<div class="col-md-8" style="padding-left: 60px;padding-top: 50px">
			<table border=0>
				<tbody>
					{% for song,check in m.items %}
						<tr>
							<td style="width: 50px"><h2 class="text-left" style="color: white;opacity: 0.7">{{ forloop.counter }}.</h2></td>
							<td style="width: 500px">
								<a href="{% url 'showsong' song.pk %}" style="text-decoration: none;"><h2 class="text-left" style="color: white;opacity: 0.7;">{{ song.name }}</h2></a>
							</td>
							<td>
								<form method="post" style="padding-top: 25px;">
									{% csrf_token %}
									{% if check %}
									<button class="btn btn-danger" type="submit" value="{{ song.pk }}" name="song_id" style="padding-top: 10px;">Dislike</button>
									{% else %}
									<button class="btn btn-success" type="submit" value="{{ song.pk }}" name="song_id" style="padding-top: 10px;">Like</button>

									{% endif %}
								</form>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<h2 style="color: white;padding-left: 40px;padding-top: 50px;">More From This Artist</h2>
	<div class="row" style="padding-top: 10px ; padding-left: 50px;">
		{% for album in artists_albums %}
			<div class="col-md-2" style="padding-right:  20px;">
				<a href="{% url 'showalbum' album.pk %}"><img src="{{ album.album_logo }}" height="200px" width="200px"></a>
				<a href="{% url 'showalbum' album.pk %}"><h4 style="color: white;">{{ album.album_name }}</h4></a>
			</div>
			<!-- if last column in row -->
			{% if forloop.counter|divisibleby:6 and not forloop.last %}
			</div><div class="row" style="padding-top: 20px ;padding-left: 20px;">
		{% endif %}
	{% endfor %}
</div>

{% endblock %}
<td style="width: 100px;"><audio id="myAudio" src="{{ song.song_link }}" preload="auto">
							</audio><span class="glyphicon glyphicon-play" onClick="togglePlay()" style="color: white;padding-top: 15px;"></span></td>
							<td>